/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

body img {
  max-height: none;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #2c2c2c;
  font-family: "Source Sans Pro", "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.justify-content-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-content-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #2c2c2c;
  text-decoration: none;
}

.trans {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.26s ease;
  -o-transition: opacity 0.26s ease;
  -webkit-transition: opacity 0.26s ease;
  transition: opacity 0.26s ease;
}
.trans:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
  text-justify: distribute;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.container {
  min-width: 1024px;
}

.wrapper {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE
 * ----------------------------------------------- */
.sm {
  display: none !important;
}

@media (max-width: 767px) {
  .md {
    display: none !important;
  }

  .sm {
    display: block !important;
  }

  .trans,
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  html {
    font-size: 15.625vw;
  }

  body {
    font-size: 0.24rem;
  }

  .container {
    width: auto;
    min-width: 320px;
  }

  .wrapper {
    width: auto;
    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
/* PARTS
 * ----------------------------------------------- */
/* COMMON HEADER
 * ----------------------------------------------- */
/* COMMON FOOTER
 * ----------------------------------------------- */
/* COMMON TITLES
 * ----------------------------------------------- */
/* COMMON BUTTONS
 * ----------------------------------------------- */
/* COMMON BREADCRUMBS
 * ----------------------------------------------- */
/* COMMON FORMS
 * ----------------------------------------------- */
/* COMMON PAGINATIONS
 * ----------------------------------------------- */
/* PAGES
 * ----------------------------------------------- */
.split {
  float: left;
}

.content-bislog {
  position: relative;
}

.gutter.gutter-horizontal {
  float: left;
  cursor: ew-resize;
  background-color: #cccccc;
}

.main-header {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.main-header .logo {
  width: 171px;
  border-right: 1px solid #cccccc;
}
.main-header .logo img {
  display: block;
  width: 114px;
  margin: 0 auto;
}
.main-header .box-header {
  width: 164px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  border-right: 1px solid #cccccc;
  height: 80px;
}
.main-header .box-header p {
  padding-left: 20px;
}
.main-header .box-header p i {
  margin-left: 10px;
  font-size: 20px;
  color: #555555;
}

.head-tab {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.head-tab li {
  width: 50%;
  text-align: center;
}
.head-tab li.active a {
  color: #ffffff;
  background-color: #027db4;
}
.head-tab li + li {
  border-left: 1px solid #cccccc;
}
.head-tab li a {
  font-family: "Arial";
  font-size: 16px;
  display: block;
  padding: 10px 0;
}
.head-tab li a:hover {
  color: #ffffff;
  background-color: #027db4;
}

.body-tab {
  font-family: "Arial";
  font-size: 16px;
  color: #333333;
}
.body-tab .content-tab {
  display: none;
}
.body-tab .content-tab.active {
  display: block;
}
.body-tab .list-vehicle {
  padding: 8px 10px;
  border-bottom: 1px solid #cccccc;
}
.body-tab .list-vehicle i {
  color: #027db4;
  font-size: 16px;
  margin-right: 10px;
}
.body-tab .search {
  margin-left: 16px;
  margin-right: 11px;
  padding-top: 11px;
  padding-bottom: 7px;
}
.body-tab .search .text-search {
  flex: 1;
}
.body-tab .search .cover-search {
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.body-tab .search .text-search {
  font-family: "Arial Italic", "Arial Regular", "Arial";
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  padding: 0 15px;
}
.body-tab .search .text-search:focus {
  font-family: "Arial", "Arial Regular", "Arial";
  font-style: normal;
}
.body-tab .search .btn-search {
  width: 32px;
  height: 32px;
  text-align: center;
}
.body-tab .search .btn-search i {
  color: #aaaaaa;
  font-size: 18px;
}

.cover-table-vehicle {
  padding-left: 16px;
}

.table-vehicle {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  width: 100%;
}
.table-vehicle .thead td {
  background-color: #f2f2f2;
  text-align: center;
}
.table-vehicle .thead td div {
  display: block;
  padding: 9px 2px;
}
.table-vehicle .thead td div.setting {
  position: relative;
}
.table-vehicle .thead td div.setting.active .sub-drop {
  display: block;
}
.table-vehicle .thead td div.setting .sub-drop {
  position: absolute;
  background-color: #ffffff;
  width: 130px;
  top: 100%;
  left: -1px;
  padding: 0;
  border: 1px solid #cccccc;
  display: none;
}
.table-vehicle .thead td div.setting .sub-drop.text .item {
  padding: 5px;
}
.table-vehicle .thead td div.setting .sub-drop .item {
  font-size: 10px;
  color: #7F7F7F;
  text-align: left;
  padding: 3px 2px;
}
.table-vehicle .thead td div.setting .sub-drop .item + .item {
  border-top: 1px solid #cccccc;
}
.table-vehicle .thead td div.setting .sub-drop .item i {
  margin-right: 4px;
  top: 0;
}
.table-vehicle .thead td div.setting .sub-drop .item i.blue {
  color: #48c0f4;
}
.table-vehicle .thead td div.setting .sub-drop .item i.green {
  color: #10b217;
}
.table-vehicle .thead td div.setting .sub-drop .item i.orange {
  color: #e67608;
}
.table-vehicle .thead td div.setting .sub-drop .item i.red {
  color: #e10937;
}
.table-vehicle .thead td div.setting .sub-drop .item i.gray {
  color: #7f7f7f;
}
.table-vehicle .thead td div.setting i {
  font-size: 14px;
  margin-left: 5px;
  top: -5px;
}
.table-vehicle .thead td div i {
  color: #7f7f7f;
  margin-left: 5px;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -5px;
}
.table-vehicle .group td {
  padding: 8px 5px;
  background-color: #f7f7f7;
}
.table-vehicle .group td .total {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 14px;
}
.table-vehicle .group td .total i {
  color: #027db4;
  margin-right: 5px;
}
.table-vehicle .content:hover td {
  background-color: #027db4;
  color: #ffffff;
}
.table-vehicle .content td {
  padding: 8px 5px;
  text-align: center;
}
.table-vehicle .content td:first-child {
  padding-left: 0;
  padding-right: 0;
}
.table-vehicle .content td i {
  margin-right: 4px;
}
.table-vehicle tr td {
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #cccccc;
}
.table-vehicle tr td.col-check {
  width: 35px;
}
.table-vehicle tr td .label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
}
.table-vehicle tr td .label i {
  color: #7f7f7f;
  display: none;
}
.table-vehicle tr td .label input {
  display: none;
}
.table-vehicle tr td .label input:checked + i {
  display: block;
}

i.blue {
  color: #48c0f4;
}
i.green {
  color: #10b217;
}
i.orange {
  color: #e67608;
}
i.red {
  color: #e10937;
}
i.gray {
  color: #7f7f7f;
}
i.lgray {
  color: #d7d7d7;
}

.content-map {
  position: relative;
}
.content-map img {
  width: 100%;
  display: block;
}
.content-map .license-plates {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  background-color: #ffff00;
  border: 1px solid #cccccc;
  font-size: 16px;
  padding: 8px 17px;
  font-family: "Arial";
}
.content-map .license-plates span {
  margin-left: 10px;
  font-size: 18px;
  font-family: "Arial Bold", "Arial Regular", "Arial";
  font-weight: 700;
}
.content-map .warning {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 247px;
}
.content-map .warning .title-warning {
  color: #ffffff;
  font-size: 15px;
  font-family: "Arial Bold", "Arial Regular", "Arial";
  font-weight: 700;
  padding: 10px 10px;
  background-color: #027db4;
}
.content-map .warning .title-warning.active i {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content-map .warning .title-warning.active + .list {
  display: block;
}
.content-map .warning .title-warning i {
  float: right;
  color: #ffffff;
  font-size: 25px;
  position: relative;
  top: -5px;
}
.content-map .warning .list {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: none;
}
.content-map .warning .list .item {
  padding: 10px 17px;
  font-size: 15px;
  font-family: "Arial";
}
.content-map .warning .list .item + .item {
  border-top: 1px solid #cccccc;
}
.content-map .warning .list .item i {
  margin-right: 10px;
}
.content-map .warning .list .item i.red {
  color: #e10937;
}
.content-map .warning .list .item i.blue {
  color: #48c0f4;
}
.content-map .warning .list .item .red {
  color: #e10937;
}

.left-filter {
  width: 29%;
  padding-left: 16px;
}
.left-filter .list-tags {
  padding: 5px 0;
}
.left-filter .list-tags a {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  padding: 6px 7px;
  background-color: #f2f2f2;
}
.left-filter .list-tags a i {
  font-size: 13px;
  margin-left: 5px;
}
.left-filter .label-filter {
  font-size: 13px;
  color: #555555;
  font-family: "Arial";
  margin-bottom: 10px;
  display: block;
}
.left-filter .label-filter i {
  font-size: 15px;
  color: #027db4;
  margin-left: 5px;
}
.left-filter .group-filter {
  border: 1px solid #cccccc;
  padding: 4px 3px 1px 8px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.left-filter .group-filter span {
  display: inline-block;
  background-color: #95dbf9;
  font-family: "Arial";
  color: #7F7F7F;
  font-size: 12px;
  border-radius: 3px;
  margin: 0 5px 3px 0;
  padding: 3px 7px;
}
.left-filter .group-filter span a {
  color: #ffffff;
  font-size: 12px;
  margin-left: 4px;
}

.box-search {
  margin-bottom: 8px;
}
.box-search .inner {
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.box-search .inner input {
  flex: 1;
  font-family: "Arial Italic", "Arial Regular", "Arial";
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  padding: 0 10px;
}
.box-search .inner button {
  width: 30px;
  height: 30px;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.box-search .inner button i {
  color: #aaaaaa;
  font-size: 20px;
}

.list-car-chose {
  color: #333333;
  font-family: "Arial";
  border: 1px solid #cccccc;
}
.list-car-chose .ttl {
  font-size: 13px;
  padding: 10px 11px;
  background-color: #f2f2f2;
}
.list-car-chose .ttl i {
  color: #027db4;
  font-size: 13px;
  margin-right: 5px;
}
.list-car-chose .box-group .ttl-sub {
  font-size: 13px;
  background-color: #f7f7f7;
  border-top: 1px solid #cccccc;
  padding: 8px 10px;
}
.list-car-chose .box-group .ttl-sub i {
  color: #027db4;
  font-size: 16px;
  margin-right: 5px;
}
.list-car-chose .box-group .item li {
  position: relative;
  border-top: 1px solid #cccccc;
  text-align: center;
  padding: 10px 20px 9px;
}
.list-car-chose .box-group .item li img {
  position: absolute;
  top: 8px;
  right: 13px;
}

.right-status {
  width: 71%;
}

.stl-normal {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font-family: "Arial";
}
.stl-normal .thead td {
  background-color: #f2f2f2;
}
.stl-normal td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #cccccc;
  font-size: 13px;
  padding: 10px 6px;
  color: #333333;
}
.stl-normal td i {
  margin-right: 5px;
}
.stl-normal td i.center {
  margin: 0;
}
.stl-normal .tempty td {
  background-color: #f7f7f7;
  height: 33px;
}
.stl-normal .tcontent td:first-child {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
