@charset "utf-8"
.split
  float: left
.content-bislog
  position: relative
.gutter.gutter-horizontal
  float: left
  cursor: ew-resize
  background-color: #cccccc
.main-header
  border-top: 1px solid #cccccc
  border-bottom: 1px solid #cccccc
  .logo
    width: 171px
    border-right: 1px solid #cccccc
    img
      display: block
      width: 114px
      margin: 0 auto
  .box-header
    width: 164px
    font-family: 'Arial'
    font-weight: 400
    font-size: 16px
    border-right: 1px solid #cccccc
    height: 80px
    p
      padding-left: 20px
      i
        margin-left: 10px
        font-size: 20px
        color: #555555
.head-tab
  width: 100%
  border-bottom: 1px solid #cccccc
  li
    width: 50%
    text-align: center
    &.active
      a
        color: #ffffff
        background-color: #027db4
    + li
      border-left: 1px solid #cccccc
    a
      font-family: 'Arial'
      font-size: 16px
      display: block
      padding: 10px 0
      &:hover
        color: #ffffff
        background-color: rgba(2, 125, 180, 1)
.body-tab
  font-family: 'Arial'
  font-size: 16px
  color: #333333
  .content-tab
    display: none
    &.active
      display: block
  .list-vehicle
    padding: 8px 10px
    border-bottom: 1px solid #cccccc
    i
      color: #027db4
      font-size: 16px
      margin-right: 10px
  .search
    margin-left: 16px
    margin-right: 11px
    padding-top: 11px
    padding-bottom: 7px
    .text-search
      flex: 1
    .cover-search
      border: 1px solid #cccccc
      border-radius: 3px
    .text-search
      font-family: 'Arial Italic', 'Arial Regular', 'Arial'
      font-weight: 400
      font-style: italic
      font-size: 15px
      padding: 0 15px
      &:focus
        font-family: 'Arial', 'Arial Regular', 'Arial'
        font-style: normal
    .btn-search
      width: 32px
      height: 32px
      text-align: center
      i
        color: #aaaaaa
        font-size: 18px
.cover-table-vehicle
  padding-left: 16px
.table-vehicle
  border-collapse: collapse
  border: 1px solid #cccccc
  width: 100%
  .thead
    td
      background-color: #f2f2f2
      text-align: center
      div
        display: block
        padding: 9px 2px
        &.setting
          position: relative
          &.active
            .sub-drop
              display: block

          .sub-drop
            position: absolute
            background-color: #ffffff
            width: 130px
            top: 100%
            left: -1px
            padding: 0
            border: 1px solid #cccccc
            display: none
            &.text
              .item
                padding: 5px


            .item
              font-size: 10px
              color: #7F7F7F
              text-align: left
              padding: 3px 2px
              + .item
                border-top: 1px solid #cccccc
              i
                margin-right: 4px
                top: 0
                &.blue
                  color: #48c0f4
                &.green
                  color: #10b217
                &.orange
                  color: #e67608
                &.red
                  color: #e10937
                &.gray
                  color: #7f7f7f

          i
            font-size: 14px
            margin-left: 5px
            top: -5px
        i
          color: #7f7f7f
          margin-left: 5px
          font-size: 16px
          vertical-align: middle
          position: relative
          top: -5px
  .group
    td
      padding: 8px 5px
      background-color: #f7f7f7
      .total
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        i
          color: #027db4
          margin-right: 5px
        font-size: 14px

  .content
    &:hover
      td
        background-color: #027db4
        color: #ffffff
    td
      padding: 8px 5px
      text-align: center
      &:first-child
        padding-left: 0
        padding-right: 0
      i
        margin-right: 4px


  tr
    td
      font-size: 13px
      border-collapse: collapse
      border: 1px solid #cccccc
      &.col-check
        width: 35px
      .label
        display: inline-block
        width: 16px
        height: 16px
        border: 1px solid #cccccc
        border-radius: 2px
        background-color: #ffffff
        cursor: pointer
        i
          color: #7f7f7f
          display: none
        input
          display: none
        input:checked + i
          display: block
i
  &.blue
    color: #48c0f4
  &.green
    color: #10b217
  &.orange
    color: #e67608
  &.red
    color: #e10937
  &.gray
    color: #7f7f7f
  &.lgray
    color: #d7d7d7

.content-map
  position: relative
  img
    width: 100%
    display: block
  .license-plates
    position: absolute
    top: -1px
    left: -1px
    z-index: 10
    background-color: #ffff00
    border: 1px solid #cccccc
    font-size: 16px
    padding: 8px 17px
    font-family: 'Arial'
    span
      margin-left: 10px
      font-size: 18px
      font-family: 'Arial Bold', 'Arial Regular', 'Arial'
      font-weight: 700
  .warning
    position: absolute
    top: -1px
    right: -1px
    width: 247px

    .title-warning
      color: #ffffff
      font-size: 15px
      font-family: 'Arial Bold', 'Arial Regular', 'Arial'
      font-weight: 700
      padding: 10px 10px
      background-color: #027db4
      &.active
        i
          -ms-transform: rotate(180deg)
          -webkit-transform: rotate(180deg)
          transform: rotate(180deg)
        + .list
          display: block
      i
        float: right
        color: #ffffff
        font-size: 25px
        position: relative
        top: -5px
    .list
      background-color: #ffffff
      border: 1px solid #cccccc
      display: none
      .item
        padding: 10px 17px
        font-size: 15px
        font-family: 'Arial'
        + .item
          border-top: 1px solid #cccccc
        i
          margin-right: 10px
          &.red
            color: #e10937
          &.blue
            color: #48c0f4
        .red
          color: #e10937

// filter
.left-filter
  width: 29%
  padding-left: 16px
  .list-tags
    padding: 5px 0
    a
      display: inline-block
      border: 1px solid #cccccc
      border-radius: 3px
      margin: 0 5px 5px 0
      padding: 6px 7px
      background-color: #f2f2f2
      i
        font-size: 13px
        margin-left: 5px
  .label-filter
    font-size: 13px
    color: #555555
    font-family: 'Arial'
    margin-bottom: 10px
    display: block
    i
      font-size: 15px
      color: #027db4
      margin-left: 5px
  .group-filter
    border: 1px solid #cccccc
    padding: 4px 3px 1px 8px
    border-radius: 3px
    margin-bottom: 4px
    span
      display: inline-block
      background-color: #95dbf9
      font-family: 'Arial'
      color: #7F7F7F
      font-size: 12px
      border-radius: 3px
      margin: 0 5px 3px 0
      padding: 3px 7px
      a
        color: #ffffff
        font-size: 12px
        margin-left: 4px
.box-search
  margin-bottom: 8px
  .inner
    border: 1px solid #cccccc
    border-radius: 3px
    input
      flex: 1
      font-family: 'Arial Italic', 'Arial Regular', 'Arial'
      font-weight: 400
      font-style: italic
      font-size: 15px
      padding: 0 10px
    button
      width: 30px
      height: 30px
      text-align: left
      -webkit-appearance: none
      -moz-appearance: none
      -ms-appearance: none
      -o-appearance: none
      appearance: none
      i
        color: #aaaaaa
        font-size: 20px
.list-car-chose
  color: #333333
  font-family: 'Arial'
  border: 1px solid #cccccc
  .ttl

    font-size: 13px
    padding: 10px 11px
    background-color: #f2f2f2
    i
      color: #027db4
      font-size: 13px
      margin-right: 5px
  .box-group
    .ttl-sub
      font-size: 13px
      background-color: #f7f7f7
      border-top: 1px solid #cccccc
      padding: 8px 10px
      i
        color: #027db4
        font-size: 16px
        margin-right: 5px
    .item
      li
        position: relative
        border-top: 1px solid #cccccc
        text-align: center
        padding: 10px 20px 9px

        img
          position: absolute
          top: 8px
          right: 13px
.right-status
  width: 71%
.stl-normal
  width: 100%
  border-collapse: collapse
  border: 1px solid #cccccc
  font-family: 'Arial'
  .thead
    td
      background-color: #f2f2f2
  td
    text-align: center
    border-collapse: collapse
    border: 1px solid #cccccc
    font-size: 13px
    padding: 10px 6px
    color: #333333
    i
      margin-right: 5px
      &.center
        margin: 0
  .tempty
    td
      background-color: #f7f7f7
      height: 33px
  .tcontent
    td

      &:first-child
        text-align: left