extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = '.'

block container
  | &#x9;
  header.main-header.dis-flex
    h1.logo
      img(src=path+"/img/common/logo.jpg", alt="logo")
    .box-header.dis-flex.align-items-center
      p Giám sát

  .content-bislog.clearfix.js-height-main
    #sidebar.split


      ul.dis-flex.head-tab
        li.active
          a.js-tab(href="#tab01" data-tab="content-tab01") Giám sát xe
        li
          a.js-tab(href="#tab02" data-tab="content-tab01") Xem lại hành trình
      .body-tab
        #tab01.content-tab01.content-tab.active
          .list-vehicle
            i.fa.fa-car(aria-hidden='true')
            | Danh sách phương tiện ( 150 )
          .search
            form(action="")
              .dis-flex.cover-search
                input.text-search(type="text" placeholder="Nhập biển số xe cần tìm kiếm")
                button.btn-search
                  i.fa.fa-search(aria-hidden='true')
          .cover-table-vehicle
            table.table-vehicle
              tr.thead
                td.col-check
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td
                  div Biển kiểm soát
                td
                  div.setting.js-setting
                    | Trạng thái
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop
                      .item
                        i.blue.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.green.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.orange.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.red.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.gray.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                td
                  div Thời gian
                td
                  div Vị trí
                td
                  div.setting.js-setting
                    | Loại xe
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop.text
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                td
                  div.setting.js-setting
                    | Cửa xe
                    i.fa.fa-sort-desc(aria-hidden='true')
                td
                  div.setting.js-setting
                    | Điều hòa
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop
                      .item
                        i.blue.fa.fa-circle(aria-hidden='true')
                        | Đang bật  (16)
                      .item
                        i.gray.fa.fa-circle(aria-hidden='true')
                        | Đang tắt (24)
                td
                  div Nhiên liệu
                td
                  div Nhiệt độ
                td
                  div.setting.js-setting
                    | Bồn trộn
                    i.fa.fa-sort-desc(aria-hidden='true')
                td
                  div Ben

                td
                  div.setting.js-setting
                    i.fa.fa-cog(aria-hidden='true')
              tr.group
                td(colspan="13")
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                  span.total
                    i.fa.fa-minus-square(aria-hidden='true')
                    | Nhóm xe số 1 (61)
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.group
                td(colspan="13")
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                  span.total
                    i.fa.fa-minus-square(aria-hidden='true')
                    | Nhóm xe số 1 (61)
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1

        #tab02.content-tab01.content-tab
          p 2
    #main.split
      .content-map
        img(src=path+"/img/common/map.png", alt="")
        .license-plates
          | Xe đang giám sát:
          span 29A - 21514
        .warning
          .title-warning.js-toggle-active
            | Cảnh báo
            i.fa.fa-angle-down(aria-hidden='true')
          .list
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Vượt tốc độ  ( 2 )
            .item
              i.blue.fa.fa-circle(aria-hidden='true')
              span Lái xe liên tục >4h  ( 0 )
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Lái xe trong ngày >10h  ( 2 )
