extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = '.'

block container
  | &#x9;
  header.main-header.dis-flex
    h1.logo
      img(src=path+"/img/common/logo.jpg", alt="logo")
    .box-header.dis-flex.align-items-center
      p Giám sát
        i.fa.fa-caret-down(aria-hidden='true')


  .content-bislog.clearfix.js-height-main
    #sidebar.split
      .dis-flex
        .left-filter
          .list-tags
            a.tags(href="#")
              | Tất cả xe (150)
            a.tags(href="#")
              | Danh sách xe yêu thích
              i.fa.fa-star-o(aria-hidden='true')

          label.label-filter
            | Bộ lọc tìm kiếm thông tin xe
            i.fa.fa-filter(aria-hidden='true')

          .group-filter
            span(href="#")
              | Nhóm xe số 1
              a x
            span(href="#")
              | Nhóm xe số 2
              a x
          .group-filter
            span(href="#")
              | xe tải
              a x
            span(href="#")
              | taxi
              a x
            span(href="#")
              | container
              a x
            span(href="#")
              | xe ben
              a x
            span(href="#")
              | xe tải 20 tấn
              a x
            span(href="#")
              | xe khách 52 chỗ
              a x
          .group-filter
            span(href="#")
              | Hà nội
              a x
            span(href="#")
              | Hải phòng
              a x

          .box-search
            form(action="#")
              .inner.dis-flex
                input(type="text" placeholder="Nhập biển số xe cần tìm kiếm")
                button
                  i.fa.fa-search(aria-hidden='true')

        .right-status
          .table-status
            table.stl-normal
              tr.thead
                td(colspan="6") Thống kê tình trạng xe đang chọn (64)
              tr
                td.text-left Tình trạng xe
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Dừng xe  (12)
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | Tắt máy (20)
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | Di chuyển (65)
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | Vượt tốc độ (53)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Mất kết nối (48)

              tr
                td.text-left Trạng thái cửa xe
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Đóng cửa (12)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Mất kết nối (48)
                td.text-left
                td.text-left
                td.text-left
              tr
                td.text-left Trạng thái điều hòa
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Bật (12)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Tắt (48)
                td.text-left
                td.text-left
                td.text-left
              tr
                td.text-left Trạng thái bồn trộn
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Đang trộn (12)
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | Đang xả (12)
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | bình thường (65)
                td.text-left
                td.text-left
      .dis-flex
        .left-filter
          .list-car-chose
            .ttl
              i.fa.fa-car(aria-hidden='true')
              | Danh sách xe đang chọn ( 150 )
            .box-group
              .ttl-sub
                i.fa.fa-minus-square(aria-hidden='true')
                | Nhóm xe số 1 (61)
              ul.item
                li 29A - 21512
                li 29A - 21512
                li
                  | 29A - 21512
                  img(src=path+"/img/common/star.svg", alt="icon")
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
            .box-group
              .ttl-sub
                i.fa.fa-minus-square(aria-hidden='true')
                | Nhóm xe số 2 (61)
              ul.item
                li 29A - 21512
                li 29A - 21512
                li
                  | 29A - 21512
                  img(src=path+"/img/common/star.svg", alt="icon")
                li 29A - 21512
                li 29A - 21512

        .right-status
          .table-status
            table.stl-normal
              tr.thead
                td Trạng thái xe
                td Thời gian
                td Vị trí
                td Cửa xe
                td Điều hoà
                td Nhiêu liệu
                td Nhiệt độ
                td Bồn trộn
                td Ben
                td camera
              tr.tempty
                td(colspan="10")
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tempty
                td(colspan="10")
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td










    #main.split
      .content-map
        img(src=path+"/img/common/map.png", alt="")
        .license-plates
          | Xe đang giám sát:
          span 29A - 21514
        .warning
          .title-warning.js-toggle-active
            | Cảnh báo
            i.fa.fa-angle-down(aria-hidden='true')
          .list
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Vượt tốc độ  ( 2 )
            .item
              i.blue.fa.fa-circle(aria-hidden='true')
              span Lái xe liên tục >4h  ( 0 )
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Lái xe trong ngày >10h  ( 2 )
