@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

body img
  max-height: none

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  font: inherit
  line-height: 1

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto
  white-space: pre-line

/* PRINTING
 * -----------------------------------------------*/

@media print
  body
    -webkit-print-color-adjust: exact
    color-adjust: exact
  html,
  body
    margin: 0
  @page
    margin: 0
  @page :left
    margin: 0
  @page :right
    margin: 0
  @page :first
    margin-top: 0


/* GENERAL
 * -----------------------------------------------*/

body
  color: $base-font-color
  font-family: $base-font-sans
  font-size: $base-font-size
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none

.dis-flex
  display: -webkit-box
  display: -ms-flexbox
  display: flex
.flex-wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
.justify-content-around
  -ms-flex-pack: distribute
  +justify-content(space-around)
.justify-content-between
  -ms-flex-pack: justify
  +justify-content(space-between)
.justify-content-center
  -ms-flex-pack: center
  +justify-content(center)
.align-items-center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
.clearfix
  *zoom: 1
  &:after
    content: " "
    display: table
    clear: both

/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

.trans
  +opacity(1)
  +transition(opacity .26s ease)
  &:hover
    +opacity(0.8)

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left!important

.text-center
  text-align: center!important

.text-right
  text-align: right

.text-justify
  text-align: justify
  text-justify: distribute

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.container
  min-width: $base-width

.wrapper
  width: $base-wrapper
  margin-left: auto
  margin-right: auto


/* RESPONSIVE
 * -----------------------------------------------*/

.sm
  display: none !important

@media (max-width: $base-sm-break)

  .md
    display: none !important
  .sm
    display: block !important

  .trans,
  .trans:hover
    +opacity(1)

  html
    font-size: 15.625vw // 640: 15.625vw, 750: 13.33333vw, 768: 13.02083vw

  body
    font-size: .24rem // 24px

  .container
    width: auto
    min-width: 320px

  .wrapper
    width: auto
    margin: 0
    padding-left: .2rem
    padding-right: .2rem