include ../_mixins/all

block vars
  -title        = 'Title'
  -description  = 'Description'
  -keywords     = 'keywords'
  -bodyClass    = 'page-top'
  -path         = '.'

doctype html
html.no-js(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600")
    link(rel="stylesheet", href=path+"/css/font-awesome.css")
    link(rel="stylesheet", href=path+"/css/style.css")

  body(class=bodyClass)
    .container
      include ../_parts/header
      block container
      include ../_parts/footer
    script(src=path+"/js/jquery-3.3.1.min.js")
    script(src=path+"/js/modernizr.js")
    script(src=path+"/js/split.min.js")
    script(src=path+"/js/scripts.js")